Django>=4.2,<5.0
djangorestframework>=3.14.0
djangorestframework-simplejwt>=5.2.2
django-cors-headers>=4.0.0
django-ratelimit>=4.0.0
python-dotenv>=1.0.0
coverage
ipython
black
flake8
django-debug-toolbar
gunicorn>=21.2.0
dj-database-url>=1.0.0
psycopg2-binary>=2.9